<!-- layouts/partials/search.html -->
<form id="search-form" class="noscript" method="GET" action="https://www.google.com/"
  data-language-prefix="{{ site.LanguagePrefix }}">
  <div class="search-bar" id="search-bar">
    <input id="search-input" class="search-display" name="q" tabindex="0" autocomplete="off" {{ with site.BaseURL }} {{
      end }} placeholder="">
    <input id="search-submit" class="icon" type="submit" value="">
  </div>
  <ul id="search-results" class="search-display"></ul>
</form>
<script src="{{ "/scripts/fixedsearch/fixedsearch.js" | relURL }}"></script>

<style>
  :root {
    --box-width: 40rem;
    --result-width-wide: 700px;
    --img-width-wide: 550px;
    --result-width: 50vw;
    --img-width: 40vw;
    --result-width-mobile: 80vw;
    --img-width-mobile: 60vw;
    --font-size-title: 1.5rem;
    --font-size-summary: 1rem;
    --font-size-tooltip: 0.8rem;
  }

  #search-form {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    min-width: var(--icon-size, 1.2rem);
    max-width: var(--box-width);
    max-height: 100vh;
    z-index: 1000;
    background: var(--color-bg);
  }

  #search-form[data-focus='false'] #search-results,
  #search-form[data-focus='false'] #search-submit {
    display: none;
  }

  #search-form[data-focus='true'] #search-results {
    display: block;
  }

  #search-form .search-bar {
    position: fixed;
    right: 1rem;
    display: flex;
    height: 2.5em;
    align-items: center;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    background: var(--color-bg);
    color: var(--color-font);
  }

  #search-form[data-focus='false'] #search-input {
    cursor: pointer;
    width: 60px;
  }

  #search-form[data-focus='false'] .search-bar {
    cursor: pointer;
    width: 100px;
    border: 2px solid var(--color-primary);
    ;
  }

  #search-form[data-focus='true'] .search-bar {
    width: 300px;
    border: 2px solid var(--color-secondary);
    ;
  }

  #search-input {
    display: block;
    padding: 0.3rem;
    width: 15rem;
    max-width: 100vw;
    height: 100%;

    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    text-align: left;

    font-size: var(--s-2, 0.8rem);
  }

  #search-submit {
    display: block;
    border: none;
    margin: 0 var(--icon-pad, 0.1rem) 0 0;
    padding: 0;
    width: var(--icon-size, 1.2rem);
    height: var(--icon-size, 1.2rem);
    line-height: var(--icon-size, 1.2rem);
    cursor: pointer;

    background: inherit;
    color: inherit;
  }

  #search-submit:hover,
  #search-submit:focus {
    color: rgb(var(--accent-color, '0,0,255'));
  }

  #search-form #search-results {
    position: fixed;
    right: 1rem;
    top: 4rem;
    display: block;
    flex-grow: 2;
    margin: 0.5px 0 0 0;
    padding: 10px;
    max-height: calc(100vh - 1.4rem - 0.5px);
    width: var(--result-width);
    overflow-x: hidden;
    overflow-y: auto;

    background: var(--color-bg);
    backdrop-filter: blur(var(--color-bg-blur, 2px));
    border-radius: 20px;
    border: 2.5px solid var(--color-primary);
    color: rgb(var(--text-color, '3,3,3'));
    font-size: var(--s-2, 0.8rem);

    scrollbar-color: rgb(var(--text-color, '3,3,3')) rgb(var(--color-bg, '240,240,240')) !important;
    scrollbar-width: thin !important;
  }

  #search-results img {
    max-width: var(--img-width);
  }

  @media (min-width: 1500px) {
    #search-form #search-results {
      width: var(--result-width-wide);
    }

    #search-results img {
      max-width: var(--img-width-wide);
    }
  }

  @media (max-width: 900px) {
    #search-form #search-results {
      width: var(--result-width-mobile);
    }

    #search-form #search-results img {
      max-width: var(--img-width-mobile);
    }

    #search-form[data-focus='false'] .search-bar,
    #search-form[data-focus='false'] #search-input {
      width: 2.5em;
    }
  }

  #search-results:empty {
    display: none;
    opacity: 0;
  }

  #search-results li {
    margin: 0;
    width: 100%;

    border-top: 0.5px dashed;
    list-style: none;
  }

  #search-results li:first-child {
    border: none;
  }

  #search-results li span:empty {
    display: none;
  }

  #search-results li .title {
    display: block;
    margin-bottom: calc(var(--line-height, 1.4rem)/3);
    font-size: var(--font-size-title);
    color: var(--color-primary);
  }

  #search-results li .title::after {
    display: none;
  }

  #search-results li {
    font-size: var(--font-size-summary);
  }

  #search-results li .summary,
  #search-results li p {
    color: var(--color-text-primary) !important;
  }

  #search-results li .section,
  #search-results li .date,
  #search-results li .tags {
    font-size: var(--font-size-tooltip);
    color: var(--color-mute) !important;
  }

  #search-results li .highlight {
    background-color: var(--color-selection);
  }
</style>