<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WMDCTN5RZ5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-WMDCTN5RZ5');
  </script>
  {{ partial "head.html" . }}
</head>

{{ partialCached "search" . }}

{{- $accentSections := slice "tech" "science" "economics" "sports" "career" -}}
{{- $pageSection := "" -}}
{{- if in $accentSections .Section -}}
  {{- $pageSection = .Section -}}
{{- else if and .CurrentSection (in $accentSections .CurrentSection.Section) -}}
  {{- $pageSection = .CurrentSection.Section -}}
{{- end -}}

<body data-theme="{{- if .Site.Params.defaultTheme -}}{{ .Site.Params.defaultTheme }}{{- else -}}auto{{- end -}}"
  data-theme-auto='{{- if ne .Site.Params.defaultTheme "auto" -}}false{{- else -}}true{{- end -}}'{{ with $pageSection }}
  data-section="{{ . }}"{{ end }}>
  {{ partial "scripts-front.html" . }}
  {{ partial "header.html" . }}

  <main>
    <div class="container-lg clearfix">
      <!-- list -->
      <div class="col-12 col-md-9 float-left content">
        {{ block "main" . }}{{ end }}
      </div>
      <aside class="col-12 col-md-3 float-left sidebar">
        {{ partial "sidebar.html" . }}
      </aside>
    </div>
    {{ partial "components.html" . }}
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts-end.html" . }}
</body>

</html>
