<!-- languages -->
{{ if .IsTranslated }}
<div class="sidebar-item">
  <h3>{{ i18n "sidebarTranslations" }}</h3>
  <h4>{{ i18n "translations" }}</h4>
  <ul>
    <!-- hide .dl posts -->
    {{ range where .Translations "Lang" "!=" "dl"}}
    <li>
      <a href="{{ .Permalink }}">{{ .Lang }} {{ if .IsPage }}{{ end }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

<!-- links -->
<div class="sidebar-item sidebar-links">
    <h3>{{ i18n "sidebarLinks" }}</h3>
    <ul>
        {{ range .Site.Menus.link }}
        <li>
            <a href="{{ .URL }}" target="_blank"><span>⧉ {{ .Name }}</span></a>
        </li>
        {{ end }}
    </ul>
</div>

<!-- directories under content -->
<div class="sidebar-item sidebar-pages">
  <h3>{{ i18n "sidebarPages" }}</h3>
  <ul>
      {{ range .Site.Menus.nav }}
      {{ $section := "" }}
      {{ if eq .URL "/" }}
        {{ $section = "home" }}
      {{ else if hasPrefix .URL "/" }}
        {{ $candidate := trim .URL "/" }}
        {{ if in (slice "tech" "science" "economics" "sports" "career") $candidate }}
          {{ $section = $candidate }}
        {{ end }}
      {{ end }}
      <li>
          <a href="{{ .URL }}"{{ with $section }} data-section="{{ . }}"{{ end }}>└ {{ .Name }}</a>
      </li>
      {{ end }}
  </ul>
</div>

<!-- tags -->
<div class="sidebar-item sidebar-tags">
    <h3>{{ i18n "sidebarTags" }}</h3>
    <ul>
        {{ range .Site.Taxonomies.tags.ByCount }}
        <li>
            <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }} ({{ .Count }})</a>
        </li>
        {{ end }}
      </ul>
</div>

<!-- table of content -->
{{- if .IsPage -}}
{{- $pageShowToc := .Params.showToc -}}
{{- $siteShowToc := .Site.Params.showToc -}}
{{- if or ($pageShowToc) (and (ne $pageShowToc false) (ne $siteShowToc false)) -}}
<div class="sidebar-item sidebar-toc">
    <h3>{{ i18n "sidebarToc" }}</h3>
    {{- .TableOfContents -}}
</div>
{{- end -}}
{{ else }}
{{ with .Site.Params.bgmImageChart }}
<!-- bgm.tv image chart -->
<div class="sidebar-item sidebar-bgm">
    <h3>{{ i18n "sidebarBangumiChart" }}</h3>
    <img class="lazyload" src="{{ $.Site.Params.lazyPlaceholder | relURL }}"
          data-src="https://bgm.tv/chart/img/{{ . }}" alt="Bangumi" />
</div>
{{ end }}
{{ end }}
